<table [ngClass]="{'selected': isAllChosen===true}">
  <thead>
    <tr >
      <th>
          <input type="checkbox" id="isAllChosen" name="isAllChosen" [(ngModel)]="isAllChosen" (change)="selectAllChange()">
      </th>
      <th *ngFor="let head of tableHeader">
       <span (click)="sortColumn(head.key)"> {{head.value}}</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rowContent of tableContent" [ngClass]="{'selected': rowContent.isChosen===true}">
      <td>
          <input type="checkbox" id="isChosen" name="isChosen" (change)="selectTargetChange(rowContent)" [(ngModel)]="rowContent.isChosen">
      </td>
      <td *ngFor="let head of tableHeader">
        <div *ngIf="rowContent.isEditing then editTemplate else staticTemplate"></div>
        <ng-template #editTemplate>
          <span [hidden]="head.key=== editKey" (dblclick)="editTargetColumn(rowContent, head.key)">{{rowContent[head.key]}}</span>
          <input [hidden]="head.key !== editKey" [(ngModel)]="rowContent[head.key]" (blur)="doneEditingColumn(rowContent)" (keyup.enter)="doneEditingColumn(rowContent)" autofocus/> 
        </ng-template>
        <ng-template #staticTemplate>
            <span (dblclick)="editTargetColumn(rowContent, head.key)">{{rowContent[head.key]}}</span>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>


